*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.icon h2{
    color: #40615e;
}
.footer-content{
    background-color: rgb(15, 26, 26);
   padding: 10px 0;
   

}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-contact{
    width: 20%;
    padding: 0 15px;
}
.footer-contact h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500px;
    position: relative;
}
.footer-contact h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: brown;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-contact ul li{
    margin-bottom: 10px;
}
.footer-contact ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
    font: weight 300;
    color: cadetblue;
    display: block;
    transition: all 0.3s ease;
}
.footer-contact ul li a:hover{
    color: #009688;
    padding-left: 10px;
}
.featured-content social links{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgb(255, 255, 255, 0.2);
margin: 0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #fff;
transition: all 0.5s ease;
}